.nestedHomeLayout {
  width: 75%;
  height: 100vh;
  padding-top: 20vh;
  padding-left: 5%;
  color: white;
  overflow-y: auto;

  >h1:nth-of-type(1) {
    font-weight: 800;
    margin-bottom: 5rem;
  }
}
