@mixin assessment {
  width: 90%;
  height: 15rem;
  background: #2C2C2C;
  display: flex;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
}

@mixin view {
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  background: var(--background);
}

@mixin nested-view {

}

@mixin modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
